.BuyPage-Title {
  background-color: var(--color-project);
  padding: 10px;
  width: 100%;
}

.BuyPage-NoOffers {
  padding: 15px;
  padding-top: 20px;
}

@media (max-width: 700px) {
  .BuyPage-Title {
    padding: 1px;
  }
}
