.List {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}

.ListItem {
  display: flex;
  align-items: center;
  padding: 10px;
}

.ListItem:not(:first-child) {
  border-top: 1px solid lightgray;
}

.ListItem [class^='ListItem-'] {
  flex-basis: 25%;
  flex-grow: 1;
}
