.List {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}

.ListItem,
.ListHeader {
  display: flex;
  align-items: center;
  padding: 10px;
}

.ListItem:not(:first-child) {
  border-top: 1px solid lightgray;
}

.ListItem [class^='ListItem-']:not(.ListItem-Action),
.ListHeader [class^='ListHeader-']:not(.ListHeader-Action) {
  flex-basis: 29%;
  text-align: start;
  min-width: 60px;
}

.ListItem-Action,
.ListHeader-Action {
  text-align: end;
  flex-grow: 1;
  flex-basis: 10%;
}

.ListHeader {
  color: var(--color-typo-promo);
  font-weight: bold;
  /* margin-bottom: 10px; */
}

.ListHeader-Seller {
  display: flex;
}

[class^='ListHeader-'] img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.ListItem:hover {
  background-color: var(--color-bg-hover);
  cursor: pointer;
}
