.Header-Logo {
  padding: 10px;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.Header-Logo-Icon {
  width: 25px;
  height: 25px;
  margin-right: 6px;
}

.Link.YandexHeader-NavLink_active {
  color: var(--header-nav-link-color-active);
}

.HeaderBalance {
  display: flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;
}

.HeaderBalance-Text::first-letter {
  color: red;
  /* font-size: 140%; */
  /* font-family: cursive; */
}

.HeaderBalance-Modal-Content {
  width: 500px;
  height: 60px;
  padding: 15px;
}

.HeaderBalance-Modal-Content > div {
  margin-bottom: 5px;
}

.Form > .Button2:last-child {
  margin-top: 18px;
}

.Form-Header {
  background: #f5f5f5;
  font-size: 26px;
  padding: 10px;
  text-align: left;
}

.Form-Field {
  margin-bottom: 10px;
  font-size: 16px;
  height: 30px;
}

.Form-Label {
  margin-bottom: 10px;
  font-size: 20px;
}

.Form {
  padding: 20px;
}
