.App {
  padding: 16px;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App .Footer,
.App .Header {
  flex: 0;
}

.App .Content {
  flex: 1;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

@media (max-width: 700px) {
  .App .Content {
    width: 100%;
  }
}
