.App {
  padding: 16px;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App .Footer,
.App .Header {
  flex: 0;
}

.App .Content {
  flex: 1;
}
